@charset "UTF-8";
/*MEDIA SCREEN*/


/*GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*CABEÇALHO*/
header{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(300deg,#0A1A44,#428ECC) ;
}
.container{
    float: left;
    width: 50%;
    height: 100vh;
    font-family: 'Roboto', sem serifa;
    font-weight: 300;
    padding-bottom: 5%;
}
.container img{
    width: 40%;
    margin-bottom: 5%;
}
.container h1{
    color: #fff;
    width: 70%;
    margin: 3%;
    font-size: 3em;
    margin-bottom: 15%;
    text-align: justify;
}
.container a{
    text-decoration: underline;
    color: #fff;
    background-color: #428ECC;
    padding: 0.4em 2em;
    box-shadow: 2px 2px 5px black;
    margin: 4%;
    border-radius: 50px;
    font-size: 2em;
}

.right{
    position: relative;
    width: 50%;
    height: 100%;
    display: inline-block;
}

.right img{
    position: absolute;
    width: 40%;
    right: 10%;
    margin: 3%;
}

#one{
    color: #00C4CC;
    background-color: #fff;
    width: 30%;
    text-align: center;
    margin: 2%;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    
    position: absolute;
    right: 40%;
    bottom: 31%;
}
#two{
    color: #00C4CC;
    background-color: #fff;
    width: 30%;
    text-align: center;
    margin: 2%;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);

    position: absolute;
    right: 40%;
    bottom: 20%;
}


/*SOBRE*/
main .sobre{
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;

}
.sobre h2{
    color: #235A86;
    margin: 5%;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
   
}

.sobre p{
    margin: 5%;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;

}

#img-sobre{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100px;
    right: 5%;
    
  
}

/*SERVIÇOS*/
.servicos{
    height: auto;
    
}
.servicos h2{
    color: #235A86;
    margin: 3%;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
   
}
.etapas{
    width: 100%;
    display: flex;
}


#contato, #local, #motoboy{
    width: 33%;
    background-color: #0A1A44;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 3%;
    line-height:1.5;
}
#local{
    background-color: #071332;
}
span{
    display: inline-block;
    font-size: 1.2em;
    background-color: #00C4CC;
    padding: 5% 7%;
    border-radius: 50%;
    color: black;
    margin-bottom:3% ;
}

/*AVALIAÇÕES*/
.google{
    height: 90vh;
    background: linear-gradient( 120deg, #428ECC, #0A1A44);
}
.google h2{
        color: #fff;
        padding: 3%;
        font-size: 2.2em;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
        text-align: center;
}

.avaliacoes{
    width: 100%;
    display: flex;
}

#primeira, #segunda, #terceira{
    width: 33%;
    color: #57E4FF;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 3%;
    text-align: justify;
   

    position: relative;
}

.avaliacoes img{
    width: 10%;
    margin-bottom:10% ;
}
.autor{
    position: absolute;
    bottom: -20px;
}

/*CONTEUDO*/
.conteudo{
    width: 100%;
    height: auto;
    margin-bottom: 2%;

    display: flex;
}

#imgconteudo{
    width: 50%;
    margin: 5%;
}
#imgconteudo img{
    width: 100%;
}
#textconteudo{
    width: 40%;
    margin: 5%;
}
#textconteudo h2{
    color: #235A86;
    font-size: 5em;
    line-height: 1;
    margin-bottom: 5%;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
}

#textconteudo p{
    color: #235A86;
    font-size: 2em;
    margin-bottom: 5%;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;
}
#textconteudo a{
    text-decoration: none;
    background-color: #428ECC;
    color: #fff;
    padding: 2% 5%;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 2%;
}

/*CONTATO*/
.contatogeral{
    width: 100%;
    height: auto;
    background-color: #142140;
    padding: 10%;
    
    display: flex;
    flex-direction: column;
    position: relative;
}
.contato{
    width: 50%;
}

.contato h2{
    color: #00C4CC;
    font-size: 2em;
    line-height: 1;
    padding: 10%;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #071332;
}

#whatsapp,#tel{
    background-color: #fff;
    border-bottom: 3px solid #071332;
    padding: 4%;
    color: #0A1A44;
    font-family: 'Noto Sans JP', sans-serif;
}
#social{
    background-color: #428ECC;
    padding: 5%;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}
#social img{
    width: 10%;
    float: right;
   margin-right: 5%;
   position: relative;
   top: -25px;
}
#imgsocial{
    display: flex;
    position: absolute;
    right: 10%;
    top: 25%;
}
#imgsocial img  {
    width: 200px;
}


@media screen and (max-width:425px){
    .container{
        width: 100%;
    }
    .container img{
        margin: 4%;
    }
    .container h1{
        width: 70%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    .right{
        display: none;
    }

   .display p{
    color: #00C4CC;
    background-color: #fff;
    width: 80%;
    text-align: center;
    padding: 2%;
    font-size: 1.2em;
    border-radius: 20px;
    margin:auto;
    margin-bottom: 15%;
   }

    .container h1{
        font-size: 2em;
    }
    .container a{
        text-align: center;
        display: block;
        font-size: 1em;
        margin: 4%;
    }
    main .sobre{
       display: block;
       width: 100%;
       height: auto;
       margin: 2%;
       padding: 5%;
      
    
    }
    .sobre p{
        text-align: justify;
    }
    #img-sobre{
        display: none;
        
      
    }

    .servicos h2{
        color: #235A86;
        margin: 7%;

    }
    .etapas{
        width: 100%;
        display: block;
    }

    #contato, #local, #motoboy{
        width: 100%;
        background-color: #0A1A44;
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        padding: 3%;
    }
    span{
        display: inline-block;
        font-size: 1.2em;
        background-color: #00C4CC;
        padding: 3% 5%;
        border-radius: 50%;
        color: black;
        margin-bottom:3% ;
        margin-top: 2%;
    }
    .google{
        height: auto;
        background: linear-gradient( 120deg, #428ECC, #0A1A44);

    }
    .google h2{
        font-size: 2em;
    }

    .avaliacoes{
        width: 100%;
        display: block;
    }
    .google{
        width: 100%;
    }

    #primeira, #segunda, #terceira{
        width: 95%;
        padding: 4%;

        margin-bottom: 10%;
        
       
    
        position: relative;
    }
    .autor{
        position: relative;
        bottom: 0px;
    }

    .conteudo{
        width: 95%;
        height: auto;
        margin-bottom: 2%;
        padding: 2%;
    
        display: block;
    }
    
    #imgconteudo{
      display: none;
    }
   
    #textconteudo{
        width: 100%;
        padding: 2%;
    }
    #textconteudo h2{
        color: #235A86;
        font-size: 2em;
        line-height: 1;
        margin-bottom: 5%;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    #textconteudo p{
        color: #235A86;
        font-size: 1em;
        margin-bottom: 5%;
        font-weight: 400;
        padding: 3%;
        font-family: 'Noto Sans JP', sans-serif;
        text-align: justify;
        
    }
    #textconteudo a{
        text-decoration: none;
        background-color: #428ECC;
        color: #fff;
        padding: 2% 3%;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 5%;
    }

    .contatogeral{
        width: 100%;
        height: auto;
        background-color: #142140;
        padding: 10%;
        
        display: flex;
        flex-direction: column;
        position: relative;
    }


    .contato{
        width: 100%;
    }
    
    
    #imgsocial{
        display: none;
       
    }
    
}
 
@media screen and (min-width:768px) {
    .display{
        display: none;
    }
    .container img{
        margin: 4%;
    }

   
    .container h1{
        font-size: 2em;
        margin: 5%;
        margin-top: 20%;
        margin-bottom: 25%;
    }

    .container a{
        box-shadow: 2px 2px 3px black;
        margin: 4%;
        font-size: 1.2em;
    }

    .right img{
        width: 60%;
    }

    #one{
        right: 60%;
        font-size: 1em;
     
    }
    #two{
        right: 60%;
        font-size: 1em;
   
    }
    #img-sobre{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -50px;
        right: 5%;
        
      
    }
    #textconteudo h2{
        color: #235A86;
        font-size: 2em;
        line-height: 1;
        margin-bottom: 5%;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    #textconteudo p{
        color: #235A86;
        font-size: 1em;
        margin-bottom: 5%;
        font-weight: 400;
        padding: 3%;
        font-family: 'Noto Sans JP', sans-serif;
        
    }
    #textconteudo a{
        text-decoration: none;
        background-color: #428ECC;
        color: #fff;
        padding: 2% 3%;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 5%;
    }

}


@media screen and (min-width:1024px){
    .display{
        display: none;
    }
    .right img{
        position: absolute;
        width: 45%;
        right: 15%;
        margin: 4%;
    }
    #one{
        width: 40%;
        right: 50%;
        bottom: 50%;
    }
    #two{
        width: 40%;
        right: 50%;
        bottom: 40%;
    }
    .container img{
        width: 40%;
        margin-bottom: 0%;
    }
    .container h1{
        margin-bottom: 20%;
        margin-top: 10%;
    }
    #img-sobre{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -60px;
        right: 5%;
   
        
      
    }
    #img-sobre img{
        width: 30%;
    }
    main .sobre{
        width: 60%;
        font-size: 1.1em;
    
    }
    .google h2{
        font-size: 2.5em;
    }
    .etapas{
        font-size: 1.2em;
    }

    .avaliacoes{
        font-size: 1.5em;
    }

    #textconteudo h2{
        color: #235A86;
        font-size: 3em;
        line-height: 1;
        margin-bottom: 5%;
        font-weight: 700;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    #textconteudo p{
        color: #235A86;
        font-size: 1.3em;
        margin-bottom: 5%;
        font-weight: 400;
        padding: 3%;
        font-family: 'Noto Sans JP', sans-serif;
        
    }
    #textconteudo a{
        text-decoration: none;
        background-color: #428ECC;
        color: #fff;
        padding: 2% 3%;
        font-size: 1.3em;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 5%;
    }

    #imgsocial img  {
        width: 250px;
    }

    #imgsocial{
        display: flex;
        position: absolute;
        right: 15%;
        top: 25%;
    }
}

    @media screen and (min-width:1440px){
        .display{
            display: none;
        }
        .right img{
            position: absolute;
            width: 50%;
            right: 15%;
            margin: 4%;
        }
        #one{
            font-size: 2em;
            width: 45%;
            right: 50%;
            bottom: 50%;
        }
        #two{
            width: 45%;
            right: 50%;
            bottom: 35%;
            font-size: 2em;
        }
        .container img{
            width: 40%;
            margin-bottom: 0%;
        }
        .container h1{
            font-size: 3em;
            margin-bottom: 20%;
            margin-top: 20%;
        }
        .container a{
            font-size: 2em;
        }
        #img-sobre{
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: -650px;
            right: 5%;
            
            
            
          
        }
        #img-sobre img{
            width: 40%;
        }
        main .sobre{
            width: 50%;
     
        
            font-size: 2em;
        }

        .etapas{
            font-size: 1.5em;
        }

        .avaliacoes{
            font-size: 1.7em;
        }
        .google h2{
            font-size: 3em;
        }

        #textconteudo h2{
            color: #235A86;
            font-size: 3em;
            line-height: 1;
            margin-bottom: 5%;
            font-weight: 700;
            font-family: 'Noto Sans JP', sans-serif;
        }
        
        #textconteudo p{
            color: #235A86;
            font-size: 2em;
            margin-bottom: 5%;
            font-weight: 400;
            padding: 3%;
            font-family: 'Noto Sans JP', sans-serif;
            text-align: justify;
            
        }
        #textconteudo a{
            text-decoration: none;
            background-color: #428ECC;
            color: #fff;
            padding: 3% 5%;
            font-size: 1.5em;
            font-weight: 600;
            border-radius: 10px;
            margin-top: 5%;
        }

        #imgsocial img  {
            width: 300px;
        }
    
        #imgsocial{
            display: flex;
            position: absolute;
            right: 15%;
            top: 25%;
        }

        #social img{
            width: 10%;
            float: right;
           margin-right: 5%;
           position: relative;
           top: -60px;
        }
        
        .contato h2{
            color: #00C4CC;
            font-size: 3em;
            line-height: 1;
            padding: 10%;
            font-weight: 700;
            font-family: 'Noto Sans JP', sans-serif;
            background-color: #071332;
        }

        #whatsapp,#tel{
            background-color: #fff;
            border-bottom: 3px solid #071332;
            padding: 4%;
            color: #0A1A44;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 2em;
        }
        #social{
            background-color: #428ECC;
            padding: 5%;
            color: #fff;
            font-size: 2em;
            font-family: 'Noto Sans JP', sans-serif;
        }
       
}